@keyframes moveLineButton {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes tehnoliogies-icon-change {
  0% {
    fill: initial;
  }
  50% {
    fill: var(--animation-icon-color);
    color: var(--animation-icon-color);
  }
  100% {
    fill: initial;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}

@media (max-width: 768px) {
  body {
    font-size: 1.6rem;
  }
}
.heading-primary {
  font-family: "Amatic SC", sans-serif;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  font-size: 7.2rem;
  text-align: center;
  color: #5ba697;
}
.heading-primary span {
  font-weight: 700;
  color: #130601;
}

@media (max-width: 1024px) {
  .heading-primary {
    font-size: 5.6rem;
  }
}
@media (max-width: 768px) {
  .heading-primary {
    font-size: 4.8rem;
  }
}
@media (max-width: 425px) {
  .heading-primary {
    font-size: 4rem;
  }
}
.heading-secondary {
  font-family: "Amatic SC", sans-serif;
  font-size: 6.6rem;
  line-height: 1;
}

@media (max-width: 1024px) {
  .heading-secondary {
    font-size: 4.8rem;
  }
}
@media (max-width: 768px) {
  .heading-secondary {
    font-size: 4rem;
  }
}
.heading-tertiary {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.4rem;
}

@media (max-width: 1024px) {
  .heading-tertiary {
    font-size: 3.2rem;
  }
}
@media (max-width: 768px) {
  .heading-tertiary {
    font-size: 2.4rem;
  }
}
.hero__heading-top {
  font-size: 3.2rem;
  text-align: center;
}
.hero__text {
  font-size: 2.4rem;
  text-align: center;
}

@media (max-width: 1024px) {
  .hero__heading-top {
    font-size: 2.4rem;
  }
  .hero__text {
    font-size: 1.6rem;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 0.8rem 3rem;
  background: #56736d;
}
.header__logo-link {
  display: flex;
  justify-content: center;
}
.header__logo {
  width: 12.4rem;
}
.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.header__nav-item:link, .header__nav-item:visited {
  padding: 4px 0px;
  font-size: 16px;
  color: #fcfcfc;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.header__nav-item:hover {
  border-bottom: 4px solid #d8bdb3;
  font-size: 18px;
}
.header__nav-item:active {
  border-bottom: 4px solid #d8bdb3;
  font-size: 16px;
}
.header__media-lang {
  width: 12.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}
.header__media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.header__media-item {
  width: 35px;
  height: 35px;
}
.header__media-icon {
  width: 35px;
  height: 35px;
  fill: #fcfcfc;
}
.header__media-icon:hover {
  fill: #d8bdb3;
}
.header__lang:link, .header__lang:visited {
  color: #fcfcfc;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.header__lang:hover, .header__lang:active {
  color: #d8bdb3;
}

@media (max-width: 1024px) {
  .header__logo {
    width: 8.8rem;
  }
  .header__nav-item:link, .header__nav-item:visited {
    font-size: 12px;
  }
  .header__media-lang {
    width: 8.8rem;
    gap: 1.6rem;
  }
  .header__media-item {
    width: 24px;
    height: 24px;
  }
  .header__media-icon {
    width: 24px;
    height: 24px;
  }
  .header__lang:link, .header__lang:visited {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .header__logo {
    width: 6.4rem;
  }
  .header__nav {
    gap: 0.8rem;
  }
  .header__nav-item:link, .header__nav-item:visited {
    font-size: 10px;
  }
  .header__media-lang {
    width: 6.4rem;
    gap: 0.8rem;
  }
  .header__media {
    gap: 0.4rem;
  }
  .header__media-item {
    width: 20px;
    height: 20px;
  }
  .header__media-icon {
    width: 20px;
    height: 20px;
  }
  .header__lang:link, .header__lang:visited {
    font-size: 12px;
  }
}
@media (max-width: 425px) {
  .header__nav {
    visibility: hidden;
    display: none;
  }
  .header__nav-mobile {
    visibility: visible;
    display: block;
  }
}
.footer {
  position: relative;
  overflow: hidden;
  width: 100vw;
  padding: 2.4rem 3rem;
  font-size: 1.4rem;
  border-top: 0.4rem solid #5ba697;
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.6rem;
  border-bottom: 0.2rem solid #130601;
}
.footer__media {
  display: flex;
  gap: 0.4rem;
  width: 19rem;
}
.footer__media-item:hover .footer__media-icon {
  fill: #7a5ba6;
}
.footer__media-icon {
  width: 3.5rem;
  fill: #130601;
}
.footer__nav {
  display: flex;
  gap: 2.4rem;
}
.footer__nav-item:link, .footer__nav-item:visited {
  font-weight: 600;
  color: #130601;
}
.footer__nav-item:hover, .footer__nav-item:active {
  color: #7a5ba6;
}
.footer__info {
  width: 19rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.footer__info-item {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  cursor: pointer;
}
.footer__info-item:hover .footer__info-icon {
  fill: #7a5ba6;
}
.footer__info-item:hover .footer__info-text {
  color: #7a5ba6;
}
.footer__info-icon {
  width: 1.6rem;
}
.footer__info-text {
  color: #130601;
}
.footer__copy-rights {
  padding: 1.6rem 0;
  text-align: center;
}
.footer__background-icon {
  position: absolute;
}
.footer__background-icon--1 {
  top: 0%;
  left: 0%;
  width: 16rem;
  fill: rgba(166, 112, 92, 0.2);
}
.footer__background-icon--2 {
  top: -20%;
  left: 8%;
  width: 52rem;
  fill: rgba(130, 98, 176, 0.2);
}
.footer__background-icon--3 {
  top: -10%;
  left: 24%;
  width: 20rem;
  fill: rgba(166, 163, 91, 0.2);
}
.footer__background-icon--4 {
  top: -50%;
  right: -5%;
  width: 48rem;
  fill: rgba(166, 163, 91, 0.1);
}
.footer__background-icon--5 {
  top: -16%;
  right: 20%;
  width: 24rem;
  fill: rgba(179, 206, 207, 0.2);
}

@media (max-width: 1024px) {
  .footer {
    font-size: 1.2rem;
  }
  .footer__media {
    width: 16rem;
  }
  .footer__nav {
    gap: 0.8rem;
  }
  .footer__info {
    width: 16rem;
    gap: 0rem;
  }
  .footer__background-icon {
    position: absolute;
  }
  .footer__background-icon--1 {
    width: 12rem;
  }
  .footer__background-icon--2 {
    top: 40%;
    left: 4%;
    width: 24rem;
  }
  .footer__background-icon--3 {
    top: 10%;
    left: 14%;
    width: 18rem;
  }
  .footer__background-icon--4 {
    right: -10%;
  }
  .footer__background-icon--5 {
    top: -6%;
    width: 14rem;
  }
}
@media (max-width: 768px) {
  .footer__wrapper {
    flex-direction: column;
    gap: 3.2rem;
  }
  .footer__media {
    gap: 0.8rem;
    justify-content: center;
    width: 100%;
  }
  .footer__info {
    width: 100%;
    align-items: center;
    gap: 0.8rem;
  }
  .footer__background-icon {
    position: absolute;
  }
  .footer__background-icon--1 {
    top: -5%;
    left: 0%;
    width: 12rem;
  }
  .footer__background-icon--2 {
    left: -10%;
  }
  .footer__background-icon--3 {
    width: 14rem;
  }
  .footer__background-icon--4 {
    right: -15%;
  }
  .footer__background-icon--5 {
    right: 10%;
  }
}
@media (max-width: 425px) {
  .footer__background-icon {
    position: absolute;
  }
  .footer__background-icon--1 {
    left: -5%;
    width: 10rem;
  }
  .footer__background-icon--2 {
    top: 60%;
    width: 18rem;
  }
  .footer__background-icon--3 {
    top: 35%;
    left: 5%;
    width: 12rem;
  }
  .footer__background-icon--4 {
    top: -16%;
    right: -55%;
    width: 40rem;
  }
  .footer__background-icon--5 {
    right: 10%;
  }
}
.button:link, .button:visited {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  padding: 1.2rem 4rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  color: #fcfcfc;
  background-color: #a6705c;
  border: 2px solid #a6705c;
  border-radius: 3rem;
  box-shadow: 0px 3px 8px 0px rgba(18, 5, 0, 0.2);
  transition: all 0.4s ease;
}
.button:hover, .button:active {
  color: #a6705c;
  background-color: #fcfcfc;
  box-shadow: 0px 5px 16px 0px rgba(18, 5, 0, 0.2);
}
.button-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: rotate(30deg);
  filter: blur(0.6rem);
  width: 0.5rem;
  background-color: #fcfcfc;
  animation: moveLineButton 4s infinite;
  animation-timing-function: linear;
}
.button-icon {
  width: 2.4rem;
  height: 2.4rem;
  fill: #fcfcfc;
}
.button-hero {
  margin-bottom: 3.2rem;
}
.button-live:link, .button-live:visited {
  background-color: #7a5ba6;
  border: 2px solid #7a5ba6;
}
.button-live:hover, .button-live:active {
  color: #7a5ba6;
  background-color: #fcfcfc;
  box-shadow: 0px 5px 16px 0px rgba(18, 5, 0, 0.2);
}
.button-code:link, .button-code:visited {
  background-color: #5ba697;
  border: 2px solid #5ba697;
}
.button-code:hover, .button-code:active {
  color: #5ba697;
  background-color: #fcfcfc;
  box-shadow: 0px 5px 16px 0px rgba(18, 5, 0, 0.2);
}

@media (max-width: 1024px) {
  .button:link, .button:visited {
    padding: 0.8rem 3.2rem;
    font-size: 1.8rem;
  }
}
@media (max-width: 768px) {
  .button:link, .button:visited {
    gap: 0.8rem;
    padding: 1.2rem 2.4rem;
    font-size: 1.6rem;
  }
  .button-icon {
    width: 2rem;
    height: 2rem;
  }
}
.contact {
  max-width: 128rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3.2rem;
  margin-bottom: 12.8rem;
  overflow: hidden;
}
.contact__wrapper {
  display: flex;
  align-items: center;
  gap: 12rem;
}
.contact__heading {
  text-align: left;
}
.contact__item {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  width: 50%;
}
.contact__img {
  width: 23rem;
  align-self: center;
}
.contact__info {
  position: relative;
  padding: 3.2rem 8rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 50%;
  height: fit-content;
}
.contact__info-item {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  cursor: pointer;
}
.contact__info-item:hover .contact__info-icon {
  width: 5rem;
  height: 5rem;
  fill: #7a5ba6;
}
.contact__info-item:hover .contact__info-text {
  color: #7a5ba6;
  font-size: 2.6rem;
}
.contact__info-icon {
  width: 4.8rem;
  height: 4.8rem;
}
.contact__info-text:link, .contact__info-text:visited, .contact__info-text:hover, .contact__info-text:active {
  color: #130601;
  font-size: 2.4rem;
}
.contact__background-icon {
  position: absolute;
  top: -50%;
  left: 0%;
  z-index: -1;
  fill: rgba(166, 164, 91, 0.125);
}

@media (max-width: 1024px) {
  .contact__wrapper {
    gap: 8rem;
  }
  .contact__info {
    padding: 3.2rem 4rem;
  }
  .contact__info-item:hover .contact__info-icon {
    width: 3.2rem;
    height: 3.2rem;
  }
  .contact__info-item:hover .contact__info-text {
    font-size: 1.8rem;
  }
  .contact__info-icon {
    width: 3.2rem;
    height: 3.2rem;
  }
  .contact__info-text:link, .contact__info-text:visited, .contact__info-text:hover, .contact__info-text:active {
    font-size: 1.8rem;
  }
  .contact__background-icon {
    top: -25%;
  }
}
@media (max-width: 768px) {
  .contact__wrapper {
    flex-direction: column;
  }
  .contact__item {
    width: 100%;
  }
  .contact__img {
    width: 23rem;
  }
  .contact__info {
    padding: 3.2rem 0rem;
    align-items: center;
    width: 100%;
  }
  .contact__background-icon {
    top: -25%;
  }
}
.decoration-container {
  position: relative;
  width: 100vw;
  height: 28rem;
  margin-bottom: 12.8rem;
  border-top: 0.4rem solid #5ba697;
  border-bottom: 0.4rem solid #5ba697;
  overflow: hidden;
}
.decoration-container__icon {
  position: absolute;
}
.decoration-container__icon--1 {
  top: 0%;
  right: 2%;
  width: 14.2rem;
  fill: rgba(166, 112, 92, 0.2);
}
.decoration-container__icon--2 {
  bottom: -36%;
  right: 8%;
  width: 33.5rem;
  fill: rgba(130, 98, 176, 0.2);
}
.decoration-container__icon--3 {
  bottom: 28%;
  right: 32%;
  width: 16rem;
  fill: rgba(166, 163, 91, 0.2);
}
.decoration-container__icon--4 {
  bottom: -4%;
  left: 33%;
  width: 16rem;
  fill: rgba(166, 163, 91, 0.2);
}
.decoration-container__icon--5 {
  top: -50%;
  left: -2%;
  width: 51.2rem;
  fill: rgba(166, 163, 91, 0.1);
}
.decoration-container__icon--6 {
  top: -25%;
  left: 38%;
  width: 25rem;
  fill: rgba(179, 206, 207, 0.2);
}

@media (max-width: 1024px) {
  .decoration-container__icon--2 {
    right: 4%;
  }
  .decoration-container__icon--3 {
    right: 22%;
    width: 11rem;
  }
  .decoration-container__icon--4 {
    left: 18%;
    width: 11rem;
  }
  .decoration-container__icon--5 {
    left: -10%;
  }
}
@media (max-width: 768px) {
  .decoration-container__icon--1 {
    top: -8%;
    right: -8%;
    width: 12rem;
  }
  .decoration-container__icon--2 {
    right: -4%;
    width: 24rem;
  }
  .decoration-container__icon--3 {
    bottom: 20%;
    right: 8%;
  }
  .decoration-container__icon--4 {
    bottom: 0%;
    left: 12%;
  }
  .decoration-container__icon--5 {
    top: -20%;
    left: -20%;
    width: 40rem;
  }
  .decoration-container__icon--6 {
    top: -15%;
    left: 30%;
    width: 18rem;
  }
}
@media (max-width: 425px) {
  .decoration-container__icon--1 {
    top: -4%;
  }
  .decoration-container__icon--2 {
    bottom: -26%;
    width: 20rem;
  }
  .decoration-container__icon--3 {
    width: 8rem;
  }
  .decoration-container__icon--4 {
    bottom: 6%;
    left: 0%;
    width: 10rem;
  }
  .decoration-container__icon--5 {
    width: 36rem;
  }
  .decoration-container__icon--6 {
    top: 0%;
    width: 12rem;
  }
}
.heading-seccondary-wrapper {
  display: grid;
  justify-items: center;
  margin-bottom: 12rem;
}
.heading-seccondary-wrapper--left {
  justify-items: left;
}

.heading-secondary-decoration {
  width: 21.6rem;
  height: 0.8rem;
  background-color: #5ba697;
  margin-top: 2.4rem;
}

@media (max-width: 1024px) {
  .heading-seccondary-wrapper {
    margin-bottom: 8rem;
  }
  .heading-secondary-decoration {
    width: 16rem;
    height: 0.6rem;
  }
}
.heading-secondary-project-page {
  margin-top: 3.2rem;
  padding: 0.8rem 2.4rem;
  font-weight: bold;
  color: #fcfcfc;
}
.heading-secondary-project-page--design {
  background-color: #7a5ba6;
}
.heading-secondary-project-page--develop {
  background-color: #5ba697;
}

.preloader {
  position: absolute;
  display: grid;
  padding: 3.2rem;
  width: 100%;
  height: 100vh;
  background-color: #fcfcfc;
}
.preloader-icon {
  place-self: center;
  width: 24rem;
}
.preloader-text {
  position: absolute;
  place-self: center;
  bottom: 0%;
  margin-bottom: 3.2rem;
  font-size: 1.4rem;
  color: #130601;
}
.preloader-hide {
  animation: fade 1s forwards;
}

@keyframes fade {
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
.hero {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: grid;
  margin-bottom: 12.8rem;
  text-align: center;
}
.hero__wrapper {
  max-width: 128rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3.2rem;
  place-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__heading-top {
  margin-bottom: 1.6rem;
}
.hero__text {
  margin: 3.2rem 0;
}
.hero__img {
  width: 20rem;
}
.hero__background {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
.hero__background-icon {
  position: absolute;
}
.hero__background-icon--1 {
  top: 45%;
  left: 2%;
  width: 19.5rem;
  fill: rgba(166, 112, 92, 0.2);
}
.hero__background-icon--2 {
  bottom: -10%;
  left: 0%;
  width: 51.2rem;
  fill: rgba(130, 98, 176, 0.2);
}
.hero__background-icon--3 {
  bottom: 16%;
  left: 12%;
  width: 21.6rem;
  fill: rgba(166, 163, 91, 0.2);
}
.hero__background-icon--4 {
  top: -10%;
  right: 0%;
  width: 51.2rem;
  fill: rgba(166, 163, 91, 0.1);
}
.hero__background-icon--5 {
  bottom: 30%;
  right: 10%;
  width: 30.4rem;
  fill: rgba(179, 206, 207, 0.2);
}

@media (max-width: 1024px) {
  .hero__img {
    width: 16rem;
  }
  .hero__background {
    position: absolute;
    width: 100%;
    height: 100vh;
  }
  .hero__background-icon--1 {
    width: 16rem;
  }
  .hero__background-icon--2 {
    width: 40rem;
  }
  .hero__background-icon--3 {
    width: 18rem;
  }
  .hero__background-icon--4 {
    width: 40rem;
  }
  .hero__background-icon--5 {
    width: 26rem;
  }
}
@media (max-width: 768px) {
  .hero__background {
    position: absolute;
    width: 100%;
    height: 100vh;
  }
  .hero__background-icon--2 {
    width: 36rem;
  }
  .hero__background-icon--3 {
    left: 16%;
  }
  .hero__background-icon--4 {
    width: 36rem;
  }
  .hero__background-icon--5 {
    bottom: 20%;
    right: 0%;
  }
}
.selected {
  max-width: 128rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3.2rem;
  margin-bottom: 12.8rem;
}
.selected__wrapper {
  display: flex;
  gap: 2.4rem;
}
.selected__item {
  width: 100%;
}
.selected__img-wrapper {
  position: relative;
  max-width: 63.8rem;
  max-height: 47rem;
  height: 47rem;
  display: grid;
  margin-bottom: 2.4rem;
  background-color: rgba(166, 112, 92, 0.2);
  transition: all 0.5s ease;
}
.selected__img-wrapper:hover .selected__design, .selected__img-wrapper:hover .selected__develop {
  opacity: 1;
}
.selected__img-wrapper:hover .selected__img {
  filter: saturate(0%);
  z-index: -1;
}
.selected__img-wrapper-under-constr {
  filter: saturate(0%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.selected__design:link, .selected__design:active, .selected__design:visited, .selected__develop:link, .selected__develop:active, .selected__develop:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fcfcfc;
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s ease;
}
.selected__design:hover, .selected__develop:hover {
  width: 70%;
  font-size: 2.4rem;
}
.selected__design:link, .selected__design:active, .selected__design:visited, .selected__design:hover {
  left: 0;
  background: radial-gradient(rgba(148, 131, 171, 0.9725490196), rgba(243, 234, 255, 0.3921568627));
}
.selected__develop:link, .selected__develop:active, .selected__develop:visited, .selected__develop:hover {
  right: 0;
  background: radial-gradient(#618a82, rgba(198, 236, 229, 0.6470588235));
}
.selected__active {
  width: 30% !important;
  font-size: 1.2rem !important;
}
.selected__img {
  z-index: -1;
  width: 43.6rem;
  place-self: center;
  transition: all 0.5s ease;
}
.selected__title {
  font-size: 2.4rem;
  margin-bottom: 0.8rem;
}

@media (max-width: 1024px) {
  .selected__img-wrapper {
    height: 32rem;
  }
  .selected__design:link, .selected__design:active, .selected__design:visited, .selected__develop:link, .selected__develop:active, .selected__develop:visited {
    opacity: 1;
  }
  .selected__design:hover, .selected__develop:hover {
    font-size: 1.8rem;
  }
  .selected__img {
    width: 32rem;
    place-self: center;
    transition: all 0.5s ease;
  }
}
@media (max-width: 768px) {
  .selected__wrapper {
    flex-direction: column;
    gap: 4rem;
  }
  .selected__img-wrapper {
    max-width: 100%;
  }
}
@media (max-width: 425px) {
  .selected__img {
    width: 24rem;
  }
}
.tehnologies {
  max-width: 128rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3.2rem;
  margin-bottom: 12.8rem;
}
.tehnologies__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 7.2rem;
}
.tehnologies__item {
  text-align: center;
  width: 18rem;
}
.tehnologies__icon {
  width: 6.4rem;
  height: 6.4rem;
  margin-bottom: 2.4rem;
}
.tehnologies__icon--html {
  --animation-icon-color: #f18056;
  animation: tehnoliogies-icon-change 2s infinite;
}
.tehnologies__icon--css {
  --animation-icon-color: #5b8ca6;
  animation: tehnoliogies-icon-change 3s infinite;
}
.tehnologies__icon--sass {
  --animation-icon-color: #cd6877;
  animation: tehnoliogies-icon-change 1s infinite;
}
.tehnologies__icon--js {
  --animation-icon-color: #d9c16c;
  animation: tehnoliogies-icon-change 2.5s infinite;
}
.tehnologies__icon--git {
  --animation-icon-color: #36515f;
  animation: tehnoliogies-icon-change 4s infinite;
}
.tehnologies__icon--figma {
  --animation-icon-color: #7a5ba6;
  animation: tehnoliogies-icon-change 1.5s infinite;
}
.tehnologies__text {
  font-size: 2.4rem;
}
.tehnologies__text--html {
  --animation-icon-color: #924e35;
  animation: tehnoliogies-icon-change 2s infinite;
}
.tehnologies__text--css {
  --animation-icon-color: #2e4d5e;
  animation: tehnoliogies-icon-change 3s infinite;
}
.tehnologies__text--sass {
  --animation-icon-color: #825057;
  animation: tehnoliogies-icon-change 1s infinite;
}
.tehnologies__text--js {
  --animation-icon-color: #897f5b;
  animation: tehnoliogies-icon-change 2.5s infinite;
}
.tehnologies__text--git {
  --animation-icon-color: #293b45;
  animation: tehnoliogies-icon-change 4s infinite;
}
.tehnologies__text--figma {
  --animation-icon-color: #3a2e4b;
  animation: tehnoliogies-icon-change 1.5s infinite;
}

@media (max-width: 1024px) {
  .tehnologies__wrapper {
    gap: 4rem;
  }
  .tehnologies__item {
    width: 12rem;
  }
  .tehnologies__icon {
    width: 5.6rem;
    height: 5.6rem;
  }
  .tehnologies__text {
    font-size: 1.8rem;
  }
}
@media (max-width: 768px) {
  .tehnologies__wrapper {
    gap: 0rem;
    row-gap: 4rem;
  }
  .tehnologies__item {
    width: 12rem;
  }
  .tehnologies__icon {
    width: 4.8rem;
    height: 4.8rem;
  }
  .tehnologies__text {
    font-size: 1.6rem;
  }
}
.challenge {
  max-width: 128rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.challenge__wrapper {
  display: flex;
  align-items: center;
}
.challenge__text {
  margin-right: 4rem;
  margin-top: 8.8rem;
}
.challenge__img {
  width: 100%;
}

@media (max-width: 1024px) {
  .challenge {
    margin-bottom: 8rem;
  }
  .challenge__wrapper {
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }
  .challenge__text {
    margin-right: 0rem;
  }
  .challenge__img {
    width: 48rem;
  }
}
@media (max-width: 768px) {
  .challenge__wrapper {
    gap: 5.2rem;
  }
  .challenge__text {
    margin-top: 6.4rem;
  }
  .challenge__img {
    width: 32rem;
  }
}
@media (max-width: 375px) {
  .challenge__wrapper {
    gap: 4.8rem;
  }
  .challenge__text {
    margin-top: 4rem;
  }
  .challenge__img {
    width: 24rem;
  }
}
.process__heading {
  max-width: 128rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.process__step {
  max-width: 128rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3.2rem;
  position: relative;
  margin-bottom: 9.6rem;
  padding: 3.6rem 4.8rem;
}
.process__step-num {
  position: absolute;
  top: -8rem;
  left: 2.4rem;
  font-size: 18.4rem;
  color: rgba(166, 164, 91, 0.2);
}
.process__step-title {
  margin-bottom: 2.4rem;
  padding-top: 8rem;
  padding-left: 4.8rem;
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
}
.process__step-text {
  padding: 0 16rem;
}
.process__step-text-item {
  margin-bottom: 0.8rem;
}
.process__img-video-wrapper {
  width: 100%;
  height: 48rem;
  margin-bottom: 20rem;
  text-align: center;
  background-color: rgba(166, 164, 91, 0.4);
  background-position: center;
  background-size: 128rem;
  background-repeat: no-repeat;
}
.process__img-video-wrapper--step2 {
  background-image: url("../img/design-page/2-lira-excellent.png");
}
.process__img-video-wrapper--step3 {
  background-image: url("../img/design-page/3-lira-excellent.png");
}
.process__img-video-wrapper--step4a {
  background-image: url("../img/design-page/4a-lira-excellent.png");
}
.process__img-video-wrapper--step4b {
  background-image: url("../img/design-page/4b-lira-excellent.png");
}
.process__img-video-wrapper--develop {
  background-image: url("../img/design-page/design-page__lira-excellent.png");
  background-repeat: repeat-x;
  background-size: 50rem;
  margin-bottom: 0%;
}
.process__img-video-wrapper video {
  width: 128rem;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .process__step {
    margin-bottom: 4rem;
  }
  .process__step-num {
    top: 0rem;
    font-size: 10.4rem;
  }
  .process__step-title {
    font-size: 2rem;
  }
  .process__step-text {
    padding: 0 8rem;
  }
  .process__img-video-wrapper {
    margin-bottom: 8rem;
  }
}
@media (max-width: 768px) {
  .process__step {
    padding: 0rem 0rem;
  }
  .process__step-num {
    top: -4rem;
  }
  .process__img-video-wrapper {
    background-size: 76.8rem;
  }
  .process__img-video-wrapper--step2 {
    background-image: url("../img/design-page/2-lira-excellent-768px.png");
  }
  .process__img-video-wrapper--step3 {
    background-image: url("../img/design-page/3-lira-excellent-768px.png");
  }
  .process__img-video-wrapper--step4a {
    background-image: url("../img/design-page/4a-lira-excellent-768px.png");
  }
  .process__img-video-wrapper--step4b {
    background-image: url("../img/design-page/4b-lira-excellent-768px.png");
  }
}
@media (max-width: 425px) {
  .process__img-video-wrapper {
    background-size: 37.5rem;
  }
  .process__img-video-wrapper--step2 {
    background-image: url("../img/design-page/2-lira-excellent-375px.png");
  }
  .process__img-video-wrapper--step3 {
    background-image: url("../img/design-page/3-lira-excellent-375px.png");
  }
  .process__img-video-wrapper--step4a {
    background-image: url("../img/design-page/4a-lira-excellent-375px.png");
  }
  .process__img-video-wrapper--step4b {
    background-image: url("../img/design-page/4b-lira-excellent-375px.png");
  }
}
.functionalitis {
  max-width: 128rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3.2rem;
  margin-top: 12rem;
}
.functionalitis__list {
  margin: 8.8rem 4.8rem;
}
.functionalitis__list-item {
  margin-bottom: 3.2rem;
  font-size: 2rem;
}
.functionalitis__list-item-bold {
  font-weight: bold;
}

@media (max-width: 1024px) {
  .functionalitis {
    margin-top: 8rem;
  }
  .functionalitis__list {
    margin-top: 6.4rem;
  }
  .functionalitis__list-item {
    font-size: 1.8rem;
  }
}
@media (max-width: 768px) {
  .functionalitis__list {
    margin-top: 4.8rem;
  }
  .functionalitis__list-item {
    margin-bottom: 2.4rem;
    font-size: 1.6rem;
  }
}
.project__buttons {
  margin: 0 3.2rem;
  display: flex;
  gap: 4.8rem;
  justify-content: center;
}
.project__other-part {
  margin: 4rem 3.2rem 12rem;
  text-align: center;
  font-size: 1.6rem;
}
.project__other-part-link--design {
  color: #7a5ba6;
  border-bottom: 0.1rem solid #7a5ba6;
}
.project__other-part-link--develop {
  color: #5ba697;
  border-bottom: 0.1rem solid #5ba697;
}

@media (max-width: 768px) {
  .project__buttons {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
  }
}
.under-construction {
  max-width: 128rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.under-construction__text {
  color: #130601;
  font-size: 3.6rem;
  margin-bottom: 3.2rem;
}
.under-construction__link {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  width: max-content;
  border-bottom: 0.2rem solid #130601;
}
.under-construction__link:hover {
  border-bottom: 0.2rem solid #7a5ba6;
}
.under-construction__link:hover .under-construction__link-text {
  color: #7a5ba6;
}
.under-construction__link:hover .under-construction__link-icon {
  fill: #fcfcfc;
  stroke: #7a5ba6;
}
.under-construction__link-text {
  font-size: 2.4rem;
  color: #130601;
}
.under-construction__link-icon {
  fill: #fcfcfc;
  stroke: #130601;
  width: 2.4rem;
  height: 2.4rem;
}