$background-text-white-color: #fcfcfc;
$background-text-black-color: #130601;
$header-color: #56736d;
$header-hover-color: #d8bdb3;
$purple-details-color: #7a5ba6;
$green-details-color: #5ba697;
$hero-button-color: #a6705c;
$orange-details-color: #a6705c;
$yellow-details-color: #a6a45b;

$section-margin-bottom: 12.8rem;
$shadow-color: #12050033;
