.decoration-container {
  width: 100vw;
  height: 28rem;
  background: url(../img/decoration-container3.png);
  margin-bottom: $section-margin-bottom;
  border-top: 0.4rem solid $green-details-color;
  border-bottom: 0.4rem solid $green-details-color;
}
