.heading-seccondary-wrapper {
  display: grid;
  justify-items: center;
  margin-bottom: 12rem;

  &--left {
    justify-items: left;
  }
}
.heading-secondary-decoration {
  width: 21.6rem;
  height: 0.8rem;
  background-color: $green-details-color;
  margin-top: 2.4rem;
}

.heading-secondary-project-page {
  margin-top: 3.2rem;
  padding: 0.8rem 2.4rem;
  font-weight: bold;
  color: $background-text-white-color;

  &--design {
    background-color: $purple-details-color;
  }

  &--develop {
    background-color: $green-details-color;
  }
}
