.preloader {
  position: absolute;
  display: grid;
  padding: 3.2rem;
  width: 100%;
  height: 100vh;

  background-color: $background-text-white-color;

  &-icon {
    place-self: center;
    width: 24rem;
  }

  &-text {
    position: absolute;
    place-self: center;
    bottom: 0%;
    margin-bottom: 3.2rem;
    font-size: 1.4rem;
    color: $background-text-black-color;
  }

  &-hide {
    animation: fade 1s forwards;
  }
}

@keyframes fade {
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
