body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
}

.heading-primary {
  font-family: 'Amatic SC', sans-serif;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  font-size: 8.8rem;
  text-align: center;
  color: $green-details-color;

  span {
    font-weight: 700;
    color: $background-text-black-color;
  }
}

.heading-secondary {
  font-family: 'Amatic SC', sans-serif;
  font-size: 6.6rem;
  line-height: 1;
}

.heading-tertiary {
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 0.4rem;
}

.hero {
  &__heading-top {
    font-size: 3.4rem;
    text-align: center;
  }
  &__text {
    font-size: 2.4rem;
    text-align: center;
  }
}

.tehnologies__text {
  font-size: 2.4rem;
}
