.challenge {
  @include set-section-width;

  &__wrapper {
    display: flex;
    align-items: center;
  }
  &__text {
    margin-right: 4rem;
    margin-top: 8.8rem;
  }
  &__img {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .challenge {
    margin-bottom: 8rem;
    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 8rem;
    }
    &__text {
      margin-right: 0rem;
    }

    &__img {
      width: 48rem;
    }
  }
}

@media (max-width: 768px) {
  .challenge {
    &__wrapper {
      gap: 5.2rem;
    }
    &__text {
      margin-top: 6.4rem;
    }

    &__img {
      width: 32rem;
    }
  }
}

@media (max-width: 375px) {
  .challenge {
    &__wrapper {
      gap: 4.8rem;
    }
    &__text {
      margin-top: 4rem;
    }

    &__img {
      width: 24rem;
    }
  }
}

.process {
  &__heading {
    @include set-section-width;
  }
  &__step {
    @include set-section-width;
    position: relative;
    margin-bottom: 9.6rem;
    padding: 3.6rem 4.8rem;

    &-num {
      position: absolute;
      top: -8rem;
      left: 2.4rem;

      font-size: 18.4rem;
      color: rgba($yellow-details-color, 0.2);
    }
    &-title {
      margin-bottom: 2.4rem;
      padding-top: 8rem;
      padding-left: 4.8rem;

      font-size: 2.4rem;
      letter-spacing: 0.2rem;
    }
    &-text {
      padding: 0 16rem;
    }
    &-text-item {
      margin-bottom: 0.8rem;
    }
  }

  &__img-video-wrapper {
    width: 100%;
    height: 48rem;
    margin-bottom: 20rem;
    text-align: center;
    background-color: rgba($yellow-details-color, 0.4);
    background-position: center;
    background-size: 128rem;
    background-repeat: no-repeat;

    &--step2 {
      background-image: url('../img/design-page/2-lira-excellent.png');
    }
    &--step3 {
      background-image: url('../img/design-page/3-lira-excellent.png');
    }
    &--step4a {
      background-image: url('../img/design-page/4a-lira-excellent.png');
    }
    &--step4b {
      background-image: url('../img/design-page/4b-lira-excellent.png');
    }
    &--develop {
      background-image: url('../img/design-page/design-page__lira-excellent.png');
      background-repeat: repeat-x;
      background-size: 50rem;
      margin-bottom: 0%;
    }
  }

  &__img-video-wrapper video {
    width: 128rem;
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 1024px) {
  .process {
    &__step {
      margin-bottom: 4rem;

      &-num {
        top: 0rem;
        font-size: 10.4rem;
      }
      &-title {
        font-size: 2rem;
      }
      &-text {
        padding: 0 8rem;
      }
    }

    &__img-video-wrapper {
      //   width: 100%;
      //   height: 48rem;
      margin-bottom: 8rem;
      //   text-align: center;
      //   background-color: rgba($yellow-details-color, 0.4);
      //   background-position: center;
      //   background-size: 128rem;
      //   background-repeat: no-repeat;

      //   &--step2 {
      //     background-image: url('/img/design-page/2-lira-excellent.png');
      //   }
      //   &--step3 {
      //     background-image: url('/img/design-page/3-lira-excellent.png');
      //   }
      //   &--step4a {
      //     background-image: url('/img/design-page/4a-lira-excellent.png');
      //   }
      //   &--step4b {
      //     background-image: url('/img/design-page/4b-lira-excellent.png');
      //   }
      //   &--develop {
      //     background-image: url('/img/design-page/design-page__lira-excellent.png');
      //     background-repeat: repeat-x;
      //     background-size: 50rem;
      //     margin-bottom: 0%;
      //   }
    }

    // &__img-video-wrapper video {
    //   width: 128rem;
    //   height: 100%;
    //   object-fit: cover;
    // }
  }
}
@media (max-width: 768px) {
  .process {
    &__step {
      padding: 0rem 0rem;

      &-num {
        top: -4rem;
      }
    }

    &__img-video-wrapper {
      //   width: 100%;
      //   height: 48rem;
      //   margin-bottom: 8rem;
      //   text-align: center;
      //   background-color: rgba($yellow-details-color, 0.4);
      //   background-position: center;
      //   background-size: 128rem;
      //   background-repeat: no-repeat;

      //   &--step2 {
      //     background-image: url('/img/design-page/2-lira-excellent.png');
      //   }
      &--step3 {
        background-image: url('../img/design-page/3-lira-excellent-mob.png');
      }
      //   &--step4a {
      //     background-image: url('/img/design-page/4a-lira-excellent.png');
      //   }
      //   &--step4b {
      //     background-image: url('/img/design-page/4b-lira-excellent.png');
      //   }
      //   &--develop {
      //     background-image: url('/img/design-page/design-page__lira-excellent.png');
      //     background-repeat: repeat-x;
      //     background-size: 50rem;
      //     margin-bottom: 0%;
      //   }
    }

    // &__img-video-wrapper video {
    //   width: 128rem;
    //   height: 100%;
    //   object-fit: cover;
    // }
  }
}

.functionalitis {
  @include set-section-width;
  margin-top: 12rem;

  &__list {
    margin: 8.8rem 4.8rem;
    &-item {
      margin-bottom: 3.2rem;
      font-size: 2rem;
      &-bold {
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 1024px) {
  .functionalitis {
    margin-top: 8rem;

    &__list {
      margin-top: 6.4rem;
      &-item {
        font-size: 1.8rem;
      }
    }
  }
}

@media (max-width: 768px) {
  .functionalitis {
    &__list {
      margin-top: 4.8rem;
      &-item {
        margin-bottom: 2.4rem;
        font-size: 1.6rem;
      }
    }
  }
}

.project {
  &__buttons {
    display: flex;
    gap: 4.8rem;
    justify-content: center;
  }

  &__other-part {
    margin: 4rem 3.2rem 12rem;
    text-align: center;
    font-size: 1.6rem;

    &-link {
      &--design {
        color: $purple-details-color;
        border-bottom: 0.1rem solid $purple-details-color;
      }
      &--develop {
        color: $green-details-color;
        border-bottom: 0.1rem solid $green-details-color;
      }
    }
  }
}

@media (max-width: 768px) {
  .project {
    &__buttons {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
    }
  }
}
